@import "partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


@import "partials/header";
@import "partials/index";
@import "partials/mediaQ";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    background-color: beige
}

