@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.oferta{
    height: 25px;
    width: 100%;
    color: white;
    background-color: brown;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-around; 
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99; 
}


.header .logo img{
    height: 100px;
    width: auto;
    margin: 10px 0px;
    
}
.header .header__lista{
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .header__lista a{
    text-decoration: none;
    color: black;
}

.nav ul{
    font-size: 20px;
    display: flex;
   
    
}
.nav ul li{
    justify-content: space-between;
    margin-right: 30px;
}
main {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows:  30%fr 20%fr 1fr 1fr fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "carousell"
      "div-logos"
      "cards"
      "noticias"
      "carousel1";     
  }
.carousell {
    grid-area: carousell;
     
}

.div-logos {
    grid-area: div-logos;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 15px;
}
.div-logos__opacidad{
    opacity: 0.5;
}
.div-logos__opacidad:hover{
    opacity: 1;
}
.cards{
    grid-area: cards;
    background: rgb(49,48,73);
background: linear-gradient(90deg, rgba(49,48,73,1) 0%, rgba(246,58,58,1) 35%, rgba(17,41,99,1) 100%);
}
.noticias{
    grid-area: noticias;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.carousel1{
    grid-area: carousel1;
}




.asd{  
    display: flex;
    justify-content: space-around;  
}
.asd1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.cards__titulo1{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 25px;
    margin-bottom: 100PX;
    
}
.cards__titulo2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 100PX;
    
    
}
.btn{
    background-color: black;
    margin-left: 30px;
}
.card-title {
    text-align: center;
}
.card{
    opacity: 0.8;
}
.card:hover{
    opacity: 1;
}
.cards p{
    text-align: center;
}



.copy{
    text-align: center;
}
.main-novedades{
        display: grid; 
        grid-template-columns: 0.5fr 2fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "aside novedades"; 
          
}
.div-main__novedades{
    background: rgb(96,21,21);
          background: linear-gradient(90deg, rgba(96,21,21,1) 0%, rgba(246,58,58,1) 35%, rgba(247,161,94,1) 100%);
}
.aside-main__novedades{
    grid-area: aside;
    margin: 0px auto;;
    
}
.section-main__novedades{
    grid-area: novedades;
}
.separador2{
    height: 3px;
    background-color: black;
}
.section-cambios{
    width: 500px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
}
main .section-cambios {
    text-align: center;
}
main section h1{
    margin-bottom: 50px;
}
.carousel-item img{
    width: 100%;
    height: 700px;
    background-size: contain;
    background-size: no-repeat;
}

@media only screen and (max-width: 768px){
    main {
         
        grid-template-columns: 1fr; 
        grid-template-rows: 30%fr 20%fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "carousell"
          "div-logos"
          "cards"; 

        background-color: aquamarine;
          
      }
      .carousell{
        grid-area: carousell; 
        
        
    }
    .div-logos{
        grid-area: div-logos;
        
    }
    .separador{
        width: 1000px;
        height: 20px;
        background-color: black;
    }

}
.logoemail{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: left;
}
.imgfiscal{
    width: 60px;
    height: 90px;
}
.mediopago{
    width: 45px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}
h5{
    font-weight: bold;
}
.envio{
    width: 65px;
    height: 28px;
}
.formadeenvioh5{
    margin: 10px 0;
}
.oferta{
    height: 25px;
    width: 100%;
    color: white;
    background-color: brown;
    text-align: center;
}
