@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');








/* .noticias{
    grid-area: noticias;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.main-novedades{
        display: grid; 
        grid-template-columns: 0.5fr 2fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "aside novedades"; 
          
}
.div-main__novedades{
    background: rgb(96,21,21);
          background: linear-gradient(90deg, rgba(96,21,21,1) 0%, rgba(246,58,58,1) 35%, rgba(247,161,94,1) 100%);
}
.aside-main__novedades{
    grid-area: aside;
    margin: 0px auto;;
    
}
.section-main__novedades{
    grid-area: novedades;
}
.separador2{
    height: 3px;
    background-color: black;
}
.section-cambios{
    width: 500px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
}
main .section-cambios {
    text-align: center;
}
main section h1{
    margin-bottom: 50px;
}
.carousel-item img{
    width: 100%;
    height: 700px;
    background-size: contain;
    background-size: no-repeat;
} */















