@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    background-color: beige
}
.asd{
    position: sticky;
    top: 0;
    z-index: 99;
}
.carousell{
    margin-bottom: 10px;
}

.oferta{
    height: 25px;
    width: 100%;
    color: white;
    background-color: brown;
    text-align: center;
}
.logo{
    height: 60px;
    width: auto;
    margin: 10px 0px;
}
.grid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5%fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "div-logos"
      "cards";
  }

.div-logos{
    grid-area: div-logos;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div-logos__opacidad{
    max-height: 70px;
    opacity: 0.5;
    filter: grayscale(1);
    transition: filter 0.5s;
}
.div-logos__opacidad:hover{
    opacity: 1;
    filter: grayscale(0);
}
.card{
    margin-top: 10px;
}
.card h5{
    text-align: center;
    font-size: 20px;
}
.card p{
    font-size: 30px;
}
.btncenter{
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  margin-left: 50%;
  transform: translateX(-50%);
}
.cards{
    grid-area: cards;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
/* .noticias{
    grid-area: noticias;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.main-novedades{
        display: grid; 
        grid-template-columns: 0.5fr 2fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "aside novedades"; 
          
}
.div-main__novedades{
    background: rgb(96,21,21);
          background: linear-gradient(90deg, rgba(96,21,21,1) 0%, rgba(246,58,58,1) 35%, rgba(247,161,94,1) 100%);
}
.aside-main__novedades{
    grid-area: aside;
    margin: 0px auto;;
    
}
.section-main__novedades{
    grid-area: novedades;
}
.separador2{
    height: 3px;
    background-color: black;
}
.section-cambios{
    width: 500px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
}
main .section-cambios {
    text-align: center;
}
main section h1{
    margin-bottom: 50px;
}
.carousel-item img{
    width: 100%;
    height: 700px;
    background-size: contain;
    background-size: no-repeat;
} */


.logoemail{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: left;
}
.imgfiscal{
    width: 60px;
    height: 90px;
}
.mediopago{
    width: 45px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}
h5{
    font-weight: bold;
}
.envio{
    width: 65px;
    height: 28px;
}
.formadeenvioh5{
    margin: 10px 0;
}
.oferta{
    height: 25px;
    width: 100%;
    color: white;
    background-color: brown;
    text-align: center;
} 
.imgcard{
    left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 23%, 0 83%);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
  
}
.cards h5{
    text-align: center;
}
.cards p{
    text-align: center;
}
.imgjuji{
    width: 100%;
    background-repeat: repeat;
    margin-top: 30px;
}
.ajuji{
    
    text-decoration: none;
    margin-top: 300px;
  }
.ajuji h3{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(70, 67, 67);
}

.pjuji{
        color: rgba(44,62,80,0.8);
        width: 300px;
        margin: 0 auto;
        text-align:center;
}
.buttontitulo{
    position: absolute;
left: 50%;
margin-bottom: -70px;
transform: translate(-50%, -0%);
max-width: 95%;
color: rgb(255, 255, 255);
}



.footer2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.footer4{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.footer5{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.footer6{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.footer3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px){
   .footer2{
    align-items: flex-start;
    text-align: left;
   }
   .footer4{
    align-items: flex-start;
    text-align: left;
   }
   .footer5{
    align-items: flex-start;
    text-align: left;
   }
   .footer6{
    align-items: flex-start;
    text-align: left;
   }

   .footer3{
    flex-wrap:nowrap;
   }
   .mediopago{
    margin-left: 10px;
   }
    
}
@media screen and (min-width: 1024px){
    
    .footer1{
        display: flex;
        justify-content: space-around;
    }
    .footer2{
        display: flex;
        flex-direction: column;
    }
    .footer3{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer4{
        display: flex;
        flex-direction: column;
        
    }
    .footer5{
        
        flex-direction: column;
    }
    .footer6{
        
        flex-direction: column;
    }
    .card{
        
        flex-wrap: nowrap;
        

    }
}

